%table.table.table-condensed
  %tr
    %th Statement
    %th{:width => "100"} Freq
    %th{:width => "100"} Avg (ms)
  - @database_calls.each do |database_call|
    %tr
      %td.ellipsis= link_to database_call.statement, dynamic_report_url({ :sql => database_call.id }, { :controller => "overview", :action => "show" })
      %td= database_call.freq
      %td= number_with_precision(database_call.average, :precision => 2)
