<table class="table table-condensed">
  <tr>
    <th>Statement</th>
    <th width="100">Freq</th>
    <th width="100">Avg (ms)</th>
  </tr>
  <% @database_calls.each do |database_call| %>
    <tr>
      <td class="ellipsis"><%= link_to database_call.statement, dynamic_report_url({ :sql => database_call.id }, { :controller => "overview", :action => "show" }) %></td>
      <td><%= database_call.freq %></td>
      <td><%= number_with_precision(database_call.average, :precision => 2) %></td>
    </tr>
  <% end %>
</table>
