<table class="table table-condensed">
  <tr>
    <th>Host</th>
    <th width="100">Freq</th>
    <th width="100">Avg (ms)</th>
  </tr>
  <% @hosts.each do |host| %>
    <tr>
      <td><%= link_to host.name, dynamic_report_url({ :host => host.id }, { :controller => "overview", :action => "show" }) %></td>
      <td><%= host.freq %></td>
      <td><%= number_with_precision(host.average, :precision => 2) %></td>
    </tr>
  <% end %>
</table>
