%table.table.table-condensed
  %tr
    %th Layer
    %th{:width => "100"} Freq
    %th{:width => "100"} Avg (ms)
  - @layers.each do |layer|
    %tr
      %td= link_to layer.name, dynamic_report_url({ :layer => layer.id }, { :controller => "overview", :action => "show" })
      %td= layer.freq
      %td= number_with_precision(layer.average, :precision => 2)
