<table class="table">
<% @traces.each do |trace| %>
  <tr>
    <td class="ellipsis"><%= link_to trace.arrange_samples.payload["url"], application_trace_path(@current_application, :id => trace.trace_key) %></td>
    <td width="100"><%= link_to "#{number_with_precision(trace.duration, :precision => 2)}s", application_trace_path(@current_application, :id => trace.trace_key) %></td>
    <td width="100" class="small"><%= time_ago_in_words(trace.timestamp) %> ago.</td>
  </tr>
<% end %>
</table>