/ Content Header (Page header)
%section.content-header
  %h1
    Applications
  %ol.breadcrumb
    %li.active Applications
%section.content
  .row
    .col-lg-12.connectedSortable
      .box
        .box-header
          %h3.box-title Applications
          .box-tools
            = link_to dynamic_url(:application, action: :new), :class => "btn btn-primary" do
              %i.fa.fa-plus
              New Application
        .box-body
          %table.table.table-condensed
            %tr
              %th Name
            - @applications.each do |application|
              %tr
                %td= link_to application.name, dynamic_url(application, :overview)
                %td= link_to "Edit", dynamic_url(application, action: :edit), :class => "btn btn-default"
