<!DOCTYPE html>
<html>
<head>
  <title>Hosted</title>
  <%= stylesheet_link_tag    "hosted/application", media: "all" %>
  <%= javascript_include_tag "hosted/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
