<div class="row">
  <div class="small-12 medium-12 large-12 columns">
    <%= paginate @raw_data %>

    <table>

      <tr>
        <th></th>
        <th>Method</th>
        <th></th>
      </tr>
      <% @raw_data.each do |raw_datum| %>
        <tr>
          <td><%= link_to 'View Data', application_raw_datum_path(@application, raw_datum) %></td>
          <td><%= raw_datum.method %></td>
          <td><%= raw_datum.created_at %></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>
