%section.content-header
  %h1
    Users
  %ol.breadcrumb
    %li= link_to "Users", dynamic_url(:users)
    %li.active New User
%section.content
  .row
    .col-lg-12.connectedSortable
      .box
        .box-body
          = render 'form'
