<!-- /.content-wrapper -->
<footer class="main-footer">
  <div class="pull-right hidden-xs">
    <b>Version</b> 0.0.1
  </div>
  <strong>Copyright &copy; <%= Date.today.year %> AppPerf All rights
  reserved.
</footer>
