<ul class="menu vertical">
  <li class="menu-text">Monitoring</li>
  <li><%= link_to 'Report', application_reports_path(@application) %></li>
  <li><%= link_to "Transactions", application_transactions_path(@application) %></li>
</ul>