/ Content Header (Page header)
%section.content-header
  %h1
    Organizations
  %ol.breadcrumb
    %li.active Organizations
%section.content
  .row
    .col-lg-12.connectedSortable
      .box
        .box-header
          %h3.box-title Organizations
          .box-tools
            = link_to new_organization_path, :class => "btn btn-primary" do
              %i.fa.fa-plus
              New Organization
        .box-body
          %table.table.table-condensed
            %tr
              %th Name
            - @organizations.each do |organization|
              %tr
                %td= link_to organization.name, organization_applications_path(organization)
                %td= link_to "Edit", edit_organization_path(organization), :class => "btn btn-default"
