<li class="<%= 'current' if page.current? %>">
  <% if page.current? %>
    <%= page %>
  <% else %>
    <%= link_to page, url, {:remote => remote, :rel => page.next? ? 'next' : page.prev? ? 'prev' : nil} %>
  <% end %>
</li>
