<div class="row">
  <div class="small-12 medium-12 large-12 columns">
    <table>
      <tr>
        <th width="100"></th>
        <th>Method</th>
        <th width="200">Latest</th>
        <th width="100">Count</th>
      </tr>
      <% @errors.each do |error_datum| %>
        <tr>
          <td><%= link_to 'View Error', application_error_path(@application, error_datum) %></td>
          <td><%= error_datum.message %></td>
          <td><%= error_datum.timestamp %></td>
          <td><%= error_datum.count %></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>