%table.table.table-condensed
  %tr
    %th Host
    %th{:width => "100"} Freq
    %th{:width => "100"} Avg (ms)
  - @hosts.each do |host|
    %tr
      %td= link_to host.name, dynamic_report_url({ :host => host.id }, { :controller => "overview", :action => "show" })
      %td= host.freq
      %td= number_with_precision(host.average, :precision => 2)
