<div id="title-bar" class="span-24 last">
  <h2 id="page-title"><%= page_title %></h2>

  <% if @from_date.present? && @to_date.present? -%>
  <h4>Viewing Past Metrics from the DataBase </h4>
  <% end -%>

  <% if @metric.present? -%>
    <h4>
      <% for parent in @metric.ancestors.reverse -%>
        <%= link_to parent.name, metric_path(parent) %> &gt;
      <% end -%>
      <%= @metric.name %>
    </h4>
  <% end -%>
</div>
