// Place all the styles related to the Applications controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap-sprockets";
@import "bootstrap";
@import "adminlte/AdminLTE";
@import "adminlte/skins/skin-blue";
@import "pace/pace";
@import "vis/vis";
@import "daterangepicker/daterangepicker";

.table tbody tr.success > td {
  background-color: #dff0d8 !important;
}

.table tbody tr.error > td {
  background-color: #f2dede !important;
}

.table tbody tr.warning > td {
  background-color: #fcf8e3 !important;
}

.table tbody tr.info > td {
  background-color: #d9edf7 !important;
}

.table-hover tbody tr.success:hover > td {
  background-color: #d0e9c6 !important;
}

.table-hover tbody tr.error:hover > td {
  background-color: #ebcccc !important;
}

.table-hover tbody tr.warning:hover > td {
  background-color: #faf2cc !important;
}

.table-hover tbody tr.info:hover > td {
  background-color: #c4e3f3 !important;
}

.text-wrap {
  white-space: pre-wrap;       /* css-3 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

.ellipsis {
  max-width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.dynamic-chart {
  margin: 0px 10px;
}
.chart-legend {
  margin: 5px;

  table {
    tbody {
      tr {
        td.legendColorBox {
          padding-left: 5px;
        }
        td.legendLabel {
          padding-left: 2px;
        }
      }
    }
  }
}

pre.source {
  .line {
    white-space: pre;
    padding: 3px;
    margin: -18px -9px 0px -3px;
  }
  .line.active {
    background-color: #FFCCCC;
  }
}

.rotate {
    -moz-transition: all 0.1s linear;
    -webkit-transition: all 0.1s linear;
    transition: all 0.1s linear;
}

.rotate.down {
    -ms-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}
