// Place all the styles related to the Applications controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/*
 *= require bootstrap
 *= require AdminLTE
 *= require skins/_all-skins
 *= require bootstrap-wysihtml5/bootstrap3-wysihtml5
 *= require jvectormap/jquery-jvectormap-1.2.2
 *= require daterangepicker/daterangepicker
 *= require morris/morris
 *= require timepicker/bootstrap-timepicker
 *= require datepicker/datepicker3
 *= require pace/pace
 *= require vis/vis
 *= require_self
 */

 .table tbody tr.success > td {
  background-color: #dff0d8 !important;
}

.table tbody tr.error > td {
  background-color: #f2dede !important;
}

.table tbody tr.warning > td {
  background-color: #fcf8e3 !important;
}

.table tbody tr.info > td {
  background-color: #d9edf7 !important;
}

.table-hover tbody tr.success:hover > td {
  background-color: #d0e9c6 !important;
}

.table-hover tbody tr.error:hover > td {
  background-color: #ebcccc !important;
}

.table-hover tbody tr.warning:hover > td {
  background-color: #faf2cc !important;
}

.table-hover tbody tr.info:hover > td {
  background-color: #c4e3f3 !important;
}

.text-wrap {
  white-space: pre-wrap;       /* css-3 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

.ellipsis {
  max-width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.dynamic-chart {
  margin: 0px 10px;
}
.chart-legend {
  margin: 5px;

  table {
    tbody {
      tr {
        td.legendColorBox {
          padding-left: 5px;
        }
        td.legendLabel {
          padding-left: 2px;
        }
      }
    }
  }
}

pre.source {
  .line {
    white-space: pre;
    padding: 3px;
    margin: -18px -9px 0px -3px;
  }
  .line.active {
    background-color: #FFCCCC;
  }
}

.app-perf-color-1 { background-color: #df494e; border-color: #df494e; }
.app-perf-color-2 { background-color: #68a5b7; border-color: #68a5b7; }
.app-perf-color-3 { background-color: #8f978e; border-color: #8f978e; }
.app-perf-color-4 { background-color: #d8b6ad; border-color: #d8b6ad; }
.app-perf-color-5 { background-color: #677b94; border-color: #677b94; }
.app-perf-color-6 { background-color: #677b94; border-color: #677b94; }
.app-perf-color-7 { background-color: #66be98; border-color: #66be98; }
.app-perf-color-8 { background-color: #fcd06d; border-color: #fcd06d; }
.app-perf-color-9 { background-color: #f8a427; border-color: #f8a427; }
.app-perf-color-10 { background-color: #d42b14; border-color: #d42b14; }
