/ Content Header (Page header)
%section.content-header
  %h1
    New Organization
  %ol.breadcrumb
    %li= link_to "Organizations", organizations_path
    %li.active New Organization
%section.content
  .row
    .col-lg-12
      .box
        .box-header.with-border
          %h3.box-title New Organization
        .box-body
          = render 'form'
