<div class="row">
  <div class="small-12 medium-12 large-12 columns">
    <table>
      <tbody>
        <% @transactions.each_pair do |end_point, transactions| %>
          <tr>
            <td>
              <%= end_point %><br />
              <% transactions.each do |transaction| %>
              <%= link_to "#{transaction.duration}s", application_transaction_path(@application, transaction) %>
              <% end %>
            </td>
            <td><%= transactions.sum(&:duration) / transactions.size%></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
