/ Content Header (Page header)
%section.content-header
  %h1
    Deployments
  %ol.breadcrumb
    %li.active Deployments
%section.content
  .row
    .col-lg-12.connectedSortable
      .box
        .box-header
          %h3.box-title Deployments
          .box-tools
            = link_to dynamic_url(@current_application, :deployment, action: :new), :class => "btn btn-primary" do
              %i.fa.fa-plus
              New Deployment
        .box-body
          - if @deployments.empty?
            .alert.alert-success
              %h4 No Deployments.
              There have not been any deployments yet.
          - else
            %table.table.table-condensed
              %tr
                %th Title
                %th Event Time
              - @deployments.each do |deployment|
                %tr
                  %td= deployment.title
                  %td= deployment.event_time
