/ Content Header (Page header)
%section.content-header
  %h1
    Deployments
  %ol.breadcrumb
    %li= link_to "Deployments", application_deployments_path(@current_application)
    %li.active New Deployment
%section.content
  .row
    .col-lg-12.connectedSortable
      .box
        .box-header.with-border
          %h3.box-title Add a new deployment event.
        .box-body
          = render "form"
