<div class="box">
  <div class="box-header">
    <h3 class="box-title">Database Calls</h3>
  </div>
  <div class="box-body">
    <table class="table table-condensed">
      <tr>
        <th>Query</th>
        <th class="text-center">Count</th>
        <th class="text-center">Avg</th>
        <th class="text-center">Total</th>
      </tr>
      <% @database_calls.sort_by(&:total_duration).reverse.each do |database_call| %>
      <tr>
        <td class="ellipsis"><%= database_call.query %></td>
        <td width="100" class="text-center"><%= database_call.count %></td>
        <td width="100" class="text-center"><%= number_with_precision(database_call.avg_duration, :precision => 2) %>ms</td>
        <td width="100" class="text-center"><%= number_with_precision(database_call.total_duration, :precision => 2) %>ms</td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
