<div class="row">
  <div class="small-12 medium-12 large-12 columns">
    <table>
      <tbody>
        <% @transaction_samples.each_pair do |name, transaction_samples| %>
          <tr>
            <td><%= name %></td>
            <td><%= transaction_samples.sum(&:duration) / transaction_samples.size %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
